<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.sell.dataobject.mapper.ProductCategoryMapper">
    <resultMap id="resultMap" type="com.person.sell.dataobject.ProductCategory">
        <id column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="category_type" property="categoryType" />
    </resultMap>

    <select id="selectByCategoryType" resultMap="resultMap" parameterType="java.lang.Integer">
      select category_id,category_name,category_type
      from product_category
      where category_type = #{categoryType}
    </select>
</mapper>